# load the Stage plugin simulation driver
driver
(		
  name "stage"
  provides [ "simulation:0" ]
  plugin "stageplugin"

  # load the named file into the simulator
  worldfile "simple.world"	
)

# Create a stage driver and attach the graphics3d interface
# to the model "cave"
driver
(
  name "stage"
  provides ["graphics3d:0"]
  model "cave"
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
  name "stage"
  provides [ "position2d:0" "laser:0" "speech:0" ]
  model "r0" 
)

# PlumeSim driver, configuration from PlumeSim documentation
driver
(
  name "PlumeSim"
  plugin "../libPlumeSim.so"
  provides ["opaque:0"]
  requires ["position2d:0" "graphics3d:0"]
  color [1 0 0 255]
  sensorupdate 10
  plumeupdate 20
  sensorposition [0.0 0.0 0.0]
  
  type "meadering"
  releasepoint [0.0 1.5 0.0]
  arena [0.0 0.0 4.0 3.0]
  numberofpoints 200
  releaserate 20.0
  dispersioncoeficient 0.005
  radius 0.1
  
  alwayson 1
)

